body {
    background-color: #141010;
    font-family: Arial, sans-serif;
    color: #ffffff;

    cursor: url('/cursors/cursorNormalPink-resize.png'), auto;}


/* Header */
.header {
    background-color: #222831;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header_title {
    margin: 0;
}

.header_icons {
    display: flex;
    align-items: center;
}

.icon {
    margin: 5px;

}

.icon:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.icon_separator {
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #f714d8;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Home page and important */
/* Pages div */


.pages_buttons_div {
    background-color: #ffffff00;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 5px 0;

    flex-wrap: wrap;
}

.pages_buttons_div button {
    background-color: #393e46;
    color: #ffffff;

    font-size: 90%;
    font-weight: bold;

    text-align: center;

    border: solid 1px #14101000;
    border-radius: 0;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    padding: 10px 20px;
    cursor: pointer;

    width: 100%;
    height: 100%;
}

.pages_buttons_div a {
    text-decoration: none;
    color: #ffffff;

    width: 20%;
    height: 35px;

    padding: 0;
}

.pages_buttons_div button:hover {
    background-color: #db1ac1;

    transition: all 0.3s ease-in-out;
}

.pages_buttons_div button:active {
    background-color: #393e46;
    scale: 0.95;
}


/* Clock Bomb*/

.clock_bomb_p {
    color: #db1ac1;
    background-color: #393e46;
    
    font-size: 1.5em;
    font-weight: bold;

    text-align: center;

    padding: 15px 5px;

    border-radius: 20px;
}

.clock_bomb_p:hover {
    color: #ffffff;
    background-color: red;


    transition: all 0.3s ease-in-out;
}


/*Home Cat img */
#catimg {
    width: 100%;
    
}
#catimg:hover {
    scale: 1.05;
    transition: scale 0.3s ease-in-out;

}




/* Home random buttos div */
.random_buttons_div {
    background-color: #222831;

    display: flex;
    justify-content: space-around;
    
    margin: 20px 0;
    padding: 5px;
}

.random_buttons_div button {
    background-color: #393e46;
    color: #ffffff;

    border: solid 1px #14101000;
    border-radius: 5px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    padding: 10px 20px;
    cursor: pointer;

    width: 17%;
    height: 35px;
}

.random_buttons_div button:hover {
    background-color: #db1ac1;

    scale: 1.05;
    transition: all 0.3s ease-in-out;
}

.random_buttons_div button:active {
    background-color: #393e46;
    scale: 0.95;
}


.bombButton {
    background-color: #393e46;
    color: #ffffff;

    border: solid 1px #14101000;
    border-radius: 5px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    padding: 10px 20px;
    cursor: pointer;

    width: 17%;
    height: 35px;

    font-weight: bold;
    font-size: 90%;
}

.bombButton:hover {
    background-color: #db1ac1;

    scale: 1.05;
    transition: all 0.3s ease-in-out;
}

.bombButton:active {
    background-color: #393e46;
    scale: 0.95;
}

.bombImg {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.bombImg.hidden {
    visibility: hidden;
}
.bombImg.visible {
    visibility: visible;
}

/* Footer */
.footer {
    background-color: #22283100;
    color: #686161;

    padding: 0 0 0 5px;

    bottom: 0;
    width: 100%;

    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 10px 10px;
}





/* PHOTOS PAGE */

.photos_div {
    background-color: #222831;
    padding: 2px;
    border-radius: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-satart;    

    width: auto;
}

.photos_div img {
    max-width: 200px;
    width: 100%;
    height: auto;
    display: block;

    border-radius: 10px;

    margin: 10px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.photos_div a {
    width: auto;
    height: auto;
}





/*GAMES PAGE*/
.games_buttons_div {
    background-color: #22283100;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
    margin: 20px 0;
    padding: 5px;
}

.games_buttons_div button {
    background-color: #393e46;
    color: #ffffff;

    border: solid 1px #00000000;
    border-radius: 5px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    padding: 10px 20px;

    cursor: pointer;

    width: 100%;
    height: 35px;

    font-weight: bold;
    font-size: 90%;
}

.games_buttons_div button:hover {
    background-color: #db1ac1;

    scale: 1.01;
    transition: all 0.3s ease-in-out;
}

.games_buttons_div button:active {
    background-color: #393e46;
    scale: 0.95;
}

.games_buttons_div a {
    width: 90%;
    color: #ffffff;
    text-decoration: underline;
}

.games_buttons_div a:hover {
    text-decoration: none;
    color: #db1ac1;
}

.games_buttons_div img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.game_one_div {
    margin: 0 0 40px 0;
    padding: 5px;

    border-radius: 5px;

    background-color: #222831;
}




