body {
    color: white;
    background: #8f184c;
    background: radial-gradient(circle, rgba(143, 24, 76, 1) 0%, rgba(0, 0, 0, 1) 100%);
    font-family: 'Open Sans', sans-serif;

    justify-content: center;
    align-items: center;

    display: flex;


}

.title {
    margin: 20px;
}

.welcome {
    text-align: left;
    font-size: 1em;
    margin: 10%;

    width: 70%;

    align-items: center;
    display: flex;
    flex-direction: column;

    background: #8f184c;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgb(78, 13, 42) 100%);

    border: 2px solid white;
    border-radius: 30px;

    transition: padding 2000s, transform 100s;

    cursor: wait;
}

.welcome:hover {
    padding: 0 0 10000% 0;
    transform: skew(10deg, 10deg);
}

.elements {
    margin: 10px;
    width: 90%;
}

.nameDiv {
    width: 90%;
    display: flex;   
}

.nameTitle {
    font-weight: bold;
    font-size: 1.2em;
    margin: 3% 0 3% 0;
}

.nameButtons {
    width: 90%;
    display: flex;
}

.nameButton {
    font-size: 0,8em;
    height: 5%;
    width: 5%;
    margin: 5px;
}

.nameP {
    font-size: 1.5em;
    color: white;

    height: 10%;
    width: 5%;
    
    margin: 0 1px 0 0;

    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;

    background-color: #440c25;
    color: white;

}

.nameButton {
    background-color: #440c25;
    border: 1px solid white;
    border-radius: 10px;

    width: 7%;

    color: white;
    font-size: 0,5em;
    cursor: pointer;
    text-align: center;

    transition: scale 0.2s;

    display: inline-block;
}

.nameButton:hover {
    scale: 1.1;
}

.numberTitle {
    margin: 10% 0 3% 0;
    font-weight: bold;
    font-size: 1.2em;

}

#pi_input {
    accent-color: white;
    color: black;
    background-color: black;

    margin: 0px;
    width: 100%;

    cursor: pointer;

    transition: width 1000s, transform 20s;
    
}


.numberValue {
    font-size: 1em;
    font-weight: bold;

    color: white;
    background-color: #440c25;

    border: 1px solid none;
    border-radius: 10px;

    width: 100%;
}

.maxButton {
    font-size: 0,5em;
    font-weight: bold;

    color: white;
    background-color: #440c25;

    border: 1px solid white;
    border-radius: 10px;

    padding: 5px;
    margin: 5px 0;

    transition: scale 0.2s;
}

.maxButton:hover {
    scale: 1.1;
}

.sendDiv {
    justify-content: right;
    align-items: right;
    display: flex;
}

.sendButton {
    background-color: #ffffff;
    border: 1px solid white;
    border-radius: 10px;

    width: 15vh;
    height: 20%;

    color: #440c25;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;

    display: inline-block;

    margin-top: 10px;

}



::-webkit-scrollbar {
  width: 0;
}

